<!DOCTYPE html>
<html>
	<head>
		<link
			rel="stylesheet"
			media="screen"
			href="{{ url_for('static', filename='bootstrap.min.css') }}"
		/>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap-filestyle.min.js') }}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			<h2>Select image to upload:</h2>
			<input type="file" name="fileToUpload" id="fileToUpload" />
			<input
				class="btn btn-primary"
				type="submit"
				value="Upload Image"
				name="submit"
			/>
		</form>
	</body>
</html>
